/****** GLOBAL STYLING ******/
body {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
main{
    margin: 80px 0px 0px 0px;
    padding-bottom: 2rem;
    min-height: 600px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* h1 {
    font-size: 26px;
} */
/* h2 {}
h3 {}
h4 {}
p {} */
a, Link {
    text-decoration: none;
    color: #000000;
}


input, textarea {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #BABABA;
    background-color: #FFFFFF;
    resize: none;
}

input:focus, textarea:focus {
    border: 1px solid #6320ab;
    box-shadow: 0 0 3px #6320ab;
    -moz-box-shadow: 0 0 3px #6320ab;
    -webkit-box-shadow: 0 0 3px #6320ab;
    outline-offset: 0px;
    outline: none;   
}


.purple-btn{
    background-color: #7B00FF;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
}

.purple-btn:hover {
    background-color: #932eff;
    cursor: pointer;
}

.gray-btn{
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
}

.purple-btn:active {
    transform: scale(1.008);
}

.gray-btn:hover {
    background-color: #9a9a9a;
    cursor: pointer;
}

.gray-btn:active {
    transform: scale(1.008);
}

.icon-btn{
    border: none;
    background-color: transparent;
    margin-left:5px;
    margin-right:5px;
    color: #333333;
}

.icon-btn:hover {
    cursor: pointer;
}

/****** NAV BAR ******/
.nav-bar{
    display: flex;
    z-index: 500;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: none;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    border-bottom: 1px solid #F0EDF2;
    box-shadow: 0 0 5px #CCCCCC; 
}

.app-title{
    margin-left: 2rem;
    letter-spacing: 1px;
    font-size:32;
}

.app-title:hover {
    color: #7B00FF;
}

/****** SEARCH BAR ******/
.hero-search-container{
    background-image: url('./img/hero-pic-by-erda-estremera.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/****** LOCATION LIST ******/
.location-card{
    background-color: #F0EDF2;
    margin: 2rem 3rem;
    padding: 10px;
    border-radius: 5px;
}

.location-card:hover {
    box-shadow: 0 0 10px #CCCCCC; 
    transform: scale(1.008);
}



/****** LOCATION DETAIL ******/
.location-detail{
    padding: 0rem 3rem 0rem 3rem;
    margin: 8rem 0rem 3rem 0rem;
    display: flex;
}

.info-container{
    width: 60%;
    padding-right: 2rem;
}

.map-container{
    width: 400px;
    height: 250px;
}

.google-map{
    width: 100%;
    height: 100%;
}

.location-name{
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 500;
    color: #000000;
}

.location{
    display: flex;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #808080;
}


/****** COMMENTS LIST/DETAIL ******/
.create-ctrls{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-bottom: 1px solid #CCCCCC;
}

.all-caps-sub{
    text-transform: uppercase;
}

.bold-sub{
    font-size: 2rem;
    font-weight: 600;
}

.add-btn{
    width: 150px;
    height: 42px;
}

.comment-container{
    border-bottom: 1px solid #CCCCCC;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.comment-main{
    margin-left: 3rem;
}

.author{
    color:#7B00FF;
    margin-bottom: 3px;
}

/* .rating{
    font-weight: 600;
} */

.comment-body{
    margin-top: 10px;
}

.edit-del-btns{
    margin-right:3rem; 
    align-items: flex-end;
}

.edit-btn{
    color: #333333;
}

.edit-btn:hover {
    color: #7d7d7d;
}

.delete-btn{
    color: #d52e2e;
}

.delete-btn:hover{
    color: #fd3c3c;
}


/****** CREATE/EDIT COMMENT ******/
.create-popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-edit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-edit-form {
    width: 75%;
    border-radius: 5px;
    margin-top: 2rem;
    /* border: 1px solid #461e1e; */
    padding: 2rem;
    background-color: #F0EDF2;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.form-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.close-btn{
    color: #333333;
    cursor: pointer;
}

.bold-sub-small {
    font-size: 1.5em;
}

.close-btn{
    align-self: flex-end;
}

.name-input{
    width: 50%;
}

.rating-input{
    width: 30px;
}

.body-input{
    width: 95%;
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
    margin-left: 0;
}

.post-btn{
    align-self: flex-end;
    margin-top: 1rem;
}

.edit-form-cntrls{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.cancel-btn {
    color: #ffffff;
}


/****** SEARCH BAR ******/
.search-bar{
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin: 0rem 0rem 0rem 3rem;
    /* top: 30%; */
}

.search-icon-container{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.search-input{
    border: none;
    width: 90%;
    margin: 0;
    border-radius: 25px;
    font-size: 16px;
    background-color: transparent;
}

.search-input:focus{
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline-offset: none;
    outline: none;   
}

.results-card{
    background-color: #ffffff;
    z-index: 400;
    position: absolute;
    box-shadow: 0 5px 5px #CCCCCC;
    left: 75px;
    top: 365px;
    width: 350px;
    height: 350px;
    overflow: scroll;
}

.result-container{
    border-bottom: 1px solid #CCCCCC;
    padding:1rem;
    letter-spacing: 0;
}

.result-container:hover {
    background-color: #7B00FF;
    color: #ffffff;
}

.result-name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.result-city-state{
    font-size:14px;
}
